<div class="photos-grid">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Photos library</mat-card-title>
    </mat-card-header>

    <mat-card-content class="photos-grid__content">
      @if (store.isError()) {
        <div>Something whent wrong or API error</div>
      } @else {
        <div class="photos-grid__list">
          @for (photo of store.photos(); track $index) {
            <app-photos-grid-item [photo]="photo" (addToFavorites)="addToFavorites($event)" />
          }
        </div>
      }
    </mat-card-content>

    <mat-card-actions class="photos-grid__actions">
      @if (store.isLoading()) {
        <mat-spinner />
      }
    </mat-card-actions>
  </mat-card>
</div>
