.photo-details {
  text-align: center;

  img {
    max-width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin: 15px 0;
  }
}

.empty-state {
  text-align: center;

  &__title {
    margin-bottom: 15px;
  }
}
